<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumeFisier" value="C:\Users\georg\Desktop\Cssharp\Proiect_Piu_01\Proiect_Piu\bin\Debug\File.txt" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
